$surface: rgb(255, 255, 255);
$primary: rgb(98, 224, 176);
$secondary: rgb(72, 169, 166);
$error: rgb(255, 82, 82);
$info: rgb(33, 150, 243);
$success: rgb(76, 175, 80);
$warning: rgb(251, 140, 0);
$dark: rgb(38, 43, 46);