$surface: rgb(255, 255, 255);
$primary: rgb(98, 224, 176);
$secondary: rgb(63, 87, 86);
$error: rgb(255, 82, 82);
$info: rgb(33, 150, 243);
$success: rgb(11, 175, 16);
$warning: rgb(251, 140, 0);

$light: rgb(200, 200, 200);
$dark: rgb(38, 43, 46);