// This changes the color of the classes
$background: rgb(255, 255, 255);
$surface: rgb(255, 255, 255);
$primary: rgb(156, 113, 255);
$secondary: rgb(90, 76, 99);
$error: rgb(255, 82, 82);
$info: rgb(33, 150, 243);
$success: rgb(11, 175, 16);
$warning: rgb(251, 140, 0);

$light: rgb(200, 200, 200);
$dark: rgb(38, 43, 46);
$dark-light: rgb(45, 51, 54);